/* Global Styles */
body {
  background: linear-gradient(135deg, #6B2DA9, #d64a9c, #32A89B);
  background-size: 300% 300%;
  animation: gradient 30s ease infinite;
  font-family: 'VT323', monospace;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  font-weight: 700;
  margin: 10px;
}

/* Centered Text for About Me and Projects */
#about p, #projects p {
  text-align: left;
}


h1 {
  font-size: 3em;
  cursor: pointer;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #E2336E;
  font-size: 1.5em;
}

ul {
  margin-right: 20px;
}

/* Reusable Section Styles */
section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 600px;
  margin-bottom: 20px;
  padding: 15px;
  box-sizing: border-box;
}

section p, section li {
  font-family: 'Quicksand', sans-serif;
  color: white;
  font-size: 0.9em;
  text-align: center;
}

/* Specific Element Styles */
.about-content, .project-content, .project-image-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content img, .project-content img {
  border-radius: 20%;
  width: 150px;
  height: 150px;
  margin: 10px;
}

.project-content img {
  border-radius: 20%;
  width: 150px;
  height: 150px;
  margin: 0px;
}

.project-title {
  color: #4f1550;
}

footer {
  margin: 10px;
  text-align: left;
}

#sad-cat {
  max-width: 50%;
  height: auto;
  margin: 10px 0px;
  border-radius: 50%;
}

/* Responsive Design */
@media (max-width: 600px) {
  main {
    align-items: flex-start;
    padding: 10px;
  }

h3 {
  margin: 10px;
}

  /* Centered Text for About Me and Projects */
#about p, #projects p {
  text-align: center;
}

  section {
    width: 100%;
  }

  .about-content, .project-content, .project-image-title {
    flex-direction: column;
  }

  #sad-cat {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 50%;
  }

  #donation-links img {
    width: 50px;
    margin: 0 10px;
  }

  #donation-links a {
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: #f0f0f0;
  }
  
}
